.profile__edit {
  padding-top: 8px;
}

@media (max-width: 711px) {
  .profile__edit {
    padding-top: 28px; 
  }
}

@media (max-width: 400px) {
  .profile__edit {
    padding-top: 34px;
    max-height: 18px;
  }
}