.profile__edit {
  align-self: center;
  background: url("../../../images/Edit_Button.svg") right bottom no-repeat;
  background-size: contain;
  border: none;
  width: 24px;
  height: 24px;
  align-self: center;
  padding-top: 25px; 
}

.profile__edit:hover {
  opacity: .6;
}


@media (max-width: 711px) {
  .profile__edit {
    padding-top: 28px; 
  }
}

@media (max-width: 400px) {
  .profile__edit {
    width: 18px;
    height: 18px;
    align-self: center;   
    padding-top: 45px; 
  }
}