.profile__add-button {
  position: relative;
  min-width: 150px;
  min-height: 50px;
  border: 2px solid #FFFFFF;
  margin-left: auto;
  box-sizing: border-box;
}

@media (max-width: 711px) {
  .profile__add-button {
    margin-top: 36px;
    width: 100%;     
    margin-left: 20px;
    margin-right: 20px;
  }
}
