.popup-box__close {
  z-index: 2;
  padding-bottom: 8px;
  margin-right: -41px;
  align-self: flex-end;
  transition: opacity .3s linear;
}

.popup-box__close:hover {
  opacity: .7;
  cursor: pointer;
}

@media (max-width: 400px) {
  .popup-box__close {
    max-height: 20px;
    margin-right: 0;
    padding-bottom: 16px;
  }
}