.profile__name {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 42px;  
  line-height: 48px;
  font-weight: 500;
  font-style: inherit;
  text-overflow: ellipsis;
  max-width: 300px;
  overflow: hidden;
  white-space: nowrap; 
}

@media (max-width: 711px) {
  .profile__name {
    padding-left: 20px;
    padding-top: 26px; 
  }
}

@media (max-width: 400px) {
  .profile__name {
    font-size: 27px;
    line-height: 33px;
    max-width: 200px;
  }
}