.profile__name {
  margin: 0;
  font-size: 42px;  
  line-height: 48px;
  letter-spacing: .4px;
}

@media (max-width: 711px) {
  .profile__name {
    padding-left: 20px;
    padding-top: 26px; 
  }
}

@media (max-width: 400px) {
  .profile__name {
    font-size: 27px;
    line-height: 33px;
  }
}