.photos-grid__delete {
  position: absolute;
  top: 20px;
  right: 17px;
  height: 19px;
  width: 22px;
  background-size: contain;
  border: none;
  background-repeat: no-repeat;  
  background-image: url(../../../images/delete.svg);
  background-color:transparent;
}

.photos-grid__delete:hover {
  opacity: .5;
}