.form__add-data {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  min-width: 358px;
  border: none;
  padding-top: 19px;
}

@media (max-width: 400px) {
  .form__add-data {
    margin-top: 27px;
  }
}
